@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root{
  --cor-primaria:#00565f;
  --cor-secundaria:#00454c;
  --cor-terciaria: #2ac7c2;
  --cor-fundo:#092c2b;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--cor-fundo);
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 3rem;
}

.adicionar {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: var(--cor-primaria);
  color: var(--cor-terciaria);
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.adicionar:active {
  transform: scale(0.98);
}

.nota {
  background-color: #fff;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  margin: 30px 20px;
  height: 400px;
  width: 400px;
  overflow-y: scroll;
}

.nota .ferramentas {
  background-color: var(--cor-primaria);
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.nota .ferramentas button {
  background-color: transparent;
  border: none;
  color: var(--cor-terciaria);
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.nota textarea {
  outline: none;
  font-family: inherit;
  font-size: 1.2rem;
  border: none;
  height: 400px;
  width: 100%;
  padding: 20px;
}

.main {
  padding: 20px;
}

.oculto {
  display: none;
}