@import url('https://fonts.googleapis.com/css?family=Muli:300,700&display=swap');

:root{
  --cor-primaria:#00565f;
  --cor-secundaria:#00454c;
  --cor-terciaria: #2ac7c2;
  --cor-fundo:#092c2b;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--cor-fundo);
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  background-color: var(--cor-secundaria);
  color: var(--cor-terciaria);
  border: 3px var(--cor-terciaria) solid;
  border-radius: 10px;
  padding: 30px;
  max-width: 1000px;
  text-align: center;
}

.codigo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.codigo {
  background-color: var(--cor-terciaria);
  caret-color: transparent;
  border-radius: 5px;
  font-size: 75px;
  height: 120px;
  width: 100px;
  border: 1px solid var(--cor-primaria);
  margin: 1%;
  text-align: center;
  font-weight: 300;
  -moz-appearance: textfield;
}

.codigo::placeholder{
  color: var(--cor-fundo);
}

.codigo::-webkit-outer-spin-button,
.codigo::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.codigo:valid {
  border-color: #000;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25);
}

.info {
  background-color: var(--cor-fundo);
  display: inline-block;
  padding: 10px;
  line-height: 20px;
  max-width: 400px;
  color: var(--cor-terciaria);
  border-radius: 5px;
}

@media (max-width: 600px) {
  .codigo-container {
    flex-wrap: wrap;
  }

  .codigo {
    font-size: 60px;
    height: 80px;
    max-width: 70px;
  }
}
