@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
  --cor-primaria:#00565f;
  --cor-secundaria:#00454c;
  --cor-terciaria: #2ac7c2;
  --cor-fundo:#092c2b;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--cor-fundo);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.magica {
  background-color: var(--cor-terciaria);
  color: var(--cor-fundo);
  font-family: 'Poppins', sans-serif;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  padding: 12px 20px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  letter-spacing: 1px;
  box-shadow: 0 3px rgba(42, 199, 194, 0.5);
  z-index: 100;
}

.magica:focus {
  outline: none;
}

.magica:active {
  box-shadow: none;
  transform: translateY(2px);
}

.caixas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 500px;
  width: 500px;
  position: relative;
  transition: 0.4s ease;
}

.caixas.grande {
  width: 600px;
  height: 600px;
}

.caixas.grande .caixa {
  transform: rotateZ(360deg);
}

.caixa {
  background-image: url('https://media.giphy.com/media/jRrIGICqUDbdh9RNR1/giphy.gif');
  background-repeat: no-repeat;
  background-size: 500px 500px;
  position: relative;
  height: 125px;
  width: 125px;
  transition: 0.4s ease;
}

.caixa::after {
  content: '';
  background-color: var(--cor-terciaria);
  position: absolute;
  top: 8px;
  right: -15px;
  height: 100%;
  width: 15px;
  transform: skewY(45deg);
}

.caixa::before {
  content: '';
  background-color: var(--cor-terciaria);
  position: absolute;
  bottom: -15px;
  left: 8px;
  height: 15px;
  width: 100%;
  transform: skewX(45deg);
}