* {
  box-sizing: border-box;
}

body {
  background-color: #092c2b;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.vazio{
  height: 150px;
  width: 150px;
  margin: 10px;
  border: solid 3px #2ac7c2;
  background-color: #00565f;
}

.ocupado{
  background-image: url('https://source.unsplash.com/random/150x150');
  height: 145px;
  width: 145px;
  cursor: pointer;
}

.segurar{
  border: solid 5px #ccc;
}

.sobreposto{
  background-color: #2ac7c2;
  border-color: #00565f;
  border-style: dashed;
}

@media (max-width: 800px) {
  body{
    flex-direction: column;
  }
}