@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root{
  --cor-primaria:#00565f;
  --cor-secundaria:#00454c;
  --cor-terciaria: #2ac7c2;
  --cor-fundo:#092c2b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

.deslizador-container{
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.slide-esquerdo{
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.slide-esquerdo > div{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--cor-terciaria);
}

.slide-esquerdo h1{
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.slide-direito{
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.slide-direito > div{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

button{
  background-color: var(--cor-fundo);
  border: none;
  color: var(--cor-primaria);
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover{
  color: var(--cor-terciaria);
}

button:focus{
  outline: none;
}

.deslizador-container .botoesDeAcao button{
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

.deslizador-container .botoesDeAcao .setaBaixo{
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.deslizador-container .botoesDeAcao .setaCima{
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}